{% extends 'layout.twig' %}

{% block content %}
<h1>Dashboard</h1>
<ul>
<li><a href="/personal_webpage/users/add">Add User</a></li>
<li><a href="/personal_webpage/jobs/add">Add Job</a></li>
</ul>
</br>
<a href="/personal_webpage/logout">Logout</a>
{% endblock %}

